<!DOCTYPE html>
<html lang="en">
    <include file="Common:header" />
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <include file="Common:navbar" />
                <include file="Common:left" />
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper" style="padding:0px;">
                <div class="container-fluid" style="padding:0px;">
                    <block name="page_content"></block>
                </div>
                <!-- /#page-wrapper -->
            </div>
            <br />
            <br />
            <block name="more_my_js"></block>
    </body>
</html>
